/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*combinators */
nav > ul {
	list-style-type: none;
}

/* ID SELECTORS */
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
} 

/* MULTIPLE SELECTORS - multiple elements for one selector*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
