/* CSS Reset */
*{
	margin:	0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1.5px solid black;
	background-color: #FF00FF;
	color: black;
}

footer {
	padding: 0.5rem;
}

pre-footer-content {
	display: inline-block;
}

/* COMBINATORS */
nav > ul {
	list-style-type: none;
}

/* ID SELECTORS */
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom; 3rem;
	text-align: center;
}

#kitchenprod {
	padding-left: 10%;
	padding-right: 10%
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#beautyprod {
	padding-left: 10%;
	padding-right: 10%
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#clothingprod {
	padding-left: 10%;
	padding-right: 10%
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #FFC0CB;
	color: black;
}

#kitchenphoto {
	width: 300 px;
	height: 400px;
}

#beautyphoto {
	width: 300px;
	height: 400px;
}

#clothingphoto {
	width: 300px;
	height; 400px;
}

/*MULTIPLE SELECTORS */

nav .nav {
	margin: 0.4rem;
	display: inline;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#kitchenprod h4 {
	margin-bottom: 1rem;
	text-align: center;
}

#beautyprod h4 {
	margin-bottom: 1rem;
	text-align: center;
}

#clothingprod h4 {
	margin-bottom: 1rem;
	text-align: center;
}

#kitchenprod .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#clothingprod .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#beautyprod .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


#prefooter > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#prefooter > div > * {
	display: inline-block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}